.header {
  color: white;
}

.header .container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.logo {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 30%;
  line-height: 1;
  aspect-ratio: 1 / 1;
}

.logo > img {
  max-width: 100%;
  height: auto;
  display: block;
}
